body {
  background-color: lightgrey;
}

#conDisplay {
  background-color: grey;
  border: 2px solid green;
}

#disCon {
  width: 100vw;
  /* border: 2px solid black; */
}

#disCon h1 {
  text-align: center;
}

#display{
  margin: 1em;
  border: 2px solid red;
  background-color: black;
  color: white;
}

#padDisplay{
  margin: 1em;
  border: 2px solid red;
  background-color: white;
}

#AS {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}